<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Doodle.DoodleSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Doodle.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Doodle.DoodleSettings>
            <setting name="DBServerString" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="DBUserString" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPasswordString" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupDirString" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPrefixString" serializeAs="String">
                <value />
            </setting>
        </Doodle.DoodleSettings>
    </userSettings>
</configuration>